/**
 * site
 * 1.1.0
 * 2015-06-05
 */

html{font-size:32px}img{max-width:100%}body{background-image:url(../images/pagebg2.jpg)}.content-wrapper{padding:1rem 3%;opacity:.8}.content-wrapper input[type=button]{font-size:1rem;border-radius:.2rem;background-color:#A4F2C2;margin:.2rem}.bottom{padding:3%;text-align:center;margin-top:-1.5rem}.xhitem{padding:1rem;overflow:hidden;background-color:#FFF;border:1px solid #c7c8cb}.xhauthor{font-size:.75rem;margin-bottom:.25rem;line-height:1.5rem;border-bottom:1px solid #c7c8cb}.xhpic{text-align:center}